# Ignore Python virtual environment
env/
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Static/media if needed
/static/
/media/
